# PySpark Joins in Databricks

### - Left Join
### - Right Join
### - Inner Join
### - Full Outer Join
### - Left Anti Join
### - Cross Join

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Define schema for df_1 (Orders)
schema_orders = StructType([
    StructField("order_id", IntegerType(), True),
    StructField("customer_id", IntegerType(), True),
    StructField("order_date", StringType(), True),
    StructField("order_amount", IntegerType(), True)
])

# Data for df_1: order transactions
# customer_id 206 and 207 do NOT exist in df_2 (Customers)
data_orders = [
    (2001, 203, "2025-02-01", 12000),
    (2002, 204, "2025-02-02", 8500),
    (2003, 205, "2025-02-03", 9600),
    (2004, 206, "2025-02-04", 7300),
    (2005, 207, "2025-02-05", 11000)
]

# Create Orders DataFrame
df_1 = spark.createDataFrame(data_orders, schema=schema_orders)
df_1.show()

+--------+-----------+----------+------------+
|order_id|customer_id|order_date|order_amount|
+--------+-----------+----------+------------+
|    2001|        203|2025-02-01|       12000|
|    2002|        204|2025-02-02|        8500|
|    2003|        205|2025-02-03|        9600|
|    2004|        206|2025-02-04|        7300|
|    2005|        207|2025-02-05|       11000|
+--------+-----------+----------+------------+

In [0]:
# Define schema for df_2 (Customers)
schema_customers = StructType([
    StructField("id", IntegerType(), True),
    StructField("customer_name", StringType(), True),
    StructField("city", StringType(), True)
])

# Data for df_2: customer master data
data_customers = [
    (201, "Amit Verma", "Delhi"),
    (202, "Neha Sharma", "Mumbai"),
    (203, "Rahul Mehta", "Bangalore"),
    (204, "Pooja Singh", "Hyderabad"),
    (205, "Karan Malhotra", "Chennai")
]

# Create Customers DataFrame
df_2 = spark.createDataFrame(data_customers, schema=schema_customers)
df_2.show()

+---+--------------+---------+
| id| customer_name|     city|
+---+--------------+---------+
|201|    Amit Verma|    Delhi|
|202|   Neha Sharma|   Mumbai|
|203|   Rahul Mehta|Bangalore|
|204|   Pooja Singh|Hyderabad|
|205|Karan Malhotra|  Chennai|
+---+--------------+---------+

## Left Join

Keep all left df and matching right df

In [0]:
df_1.join(df_2 , df_1.customer_id == df_2.id, "left").show()

+--------+-----------+----------+------------+----+--------------+---------+
|order_id|customer_id|order_date|order_amount|  id| customer_name|     city|
+--------+-----------+----------+------------+----+--------------+---------+
|    2001|        203|2025-02-01|       12000| 203|   Rahul Mehta|Bangalore|
|    2002|        204|2025-02-02|        8500| 204|   Pooja Singh|Hyderabad|
|    2003|        205|2025-02-03|        9600| 205|Karan Malhotra|  Chennai|
|    2004|        206|2025-02-04|        7300|NULL|          NULL|     NULL|
|    2005|        207|2025-02-05|       11000|NULL|          NULL|     NULL|
+--------+-----------+----------+------------+----+--------------+---------+

## right join

In [0]:
df_1.join(df_2 , df_1.customer_id == df_2.id, "right").show()

+--------+-----------+----------+------------+---+--------------+---------+
|order_id|customer_id|order_date|order_amount| id| customer_name|     city|
+--------+-----------+----------+------------+---+--------------+---------+
|    NULL|       NULL|      NULL|        NULL|201|    Amit Verma|    Delhi|
|    NULL|       NULL|      NULL|        NULL|202|   Neha Sharma|   Mumbai|
|    2001|        203|2025-02-01|       12000|203|   Rahul Mehta|Bangalore|
|    2002|        204|2025-02-02|        8500|204|   Pooja Singh|Hyderabad|
|    2003|        205|2025-02-03|        9600|205|Karan Malhotra|  Chennai|
+--------+-----------+----------+------------+---+--------------+---------+


# Inner Join

it return only matching records from both df

In [0]:
df_1.join(df_2 , df_1.customer_id == df_2.id, "inner").show()

+--------+-----------+----------+------------+---+--------------+---------+
|order_id|customer_id|order_date|order_amount| id| customer_name|     city|
+--------+-----------+----------+------------+---+--------------+---------+
|    2001|        203|2025-02-01|       12000|203|   Rahul Mehta|Bangalore|
|    2002|        204|2025-02-02|        8500|204|   Pooja Singh|Hyderabad|
|    2003|        205|2025-02-03|        9600|205|Karan Malhotra|  Chennai|
+--------+-----------+----------+------------+---+--------------+---------+

## Full Outer join

It return all records from both df

In [0]:
df_1.join(df_2 , df_1.customer_id == df_2.id, "fullouter").show()

+--------+-----------+----------+------------+----+--------------+---------+
|order_id|customer_id|order_date|order_amount|  id| customer_name|     city|
+--------+-----------+----------+------------+----+--------------+---------+
|    NULL|       NULL|      NULL|        NULL| 201|    Amit Verma|    Delhi|
|    NULL|       NULL|      NULL|        NULL| 202|   Neha Sharma|   Mumbai|
|    2001|        203|2025-02-01|       12000| 203|   Rahul Mehta|Bangalore|
|    2002|        204|2025-02-02|        8500| 204|   Pooja Singh|Hyderabad|
|    2003|        205|2025-02-03|        9600| 205|Karan Malhotra|  Chennai|
|    2004|        206|2025-02-04|        7300|NULL|          NULL|     NULL|
|    2005|        207|2025-02-05|       11000|NULL|          NULL|     NULL|
+--------+-----------+----------+------------+----+--------------+---------+

## Left Anti JOin


it onoly return rows from left df that do not match with right df

In [0]:
df_1.join(df_2 , df_1.customer_id == df_2.id, "left_anti").show()

+--------+-----------+----------+------------+
|order_id|customer_id|order_date|order_amount|
+--------+-----------+----------+------------+
|    2004|        206|2025-02-04|        7300|
|    2005|        207|2025-02-05|       11000|
+--------+-----------+----------+------------+

In [0]:
df_2.join(df_1 , df_1.customer_id == df_2.id, "left_anti").show()

+---+-------------+------+
| id|customer_name|  city|
+---+-------------+------+
|201|   Amit Verma| Delhi|
|202|  Neha Sharma|Mumbai|
+---+-------------+------+

## Cross JOin

In [0]:
df_1.crossJoin(df_2).display()

order_id,customer_id,order_date,order_amount,id,customer_name,city
2001,203,2025-02-01,12000,201,Amit Verma,Delhi
2002,204,2025-02-02,8500,201,Amit Verma,Delhi
2003,205,2025-02-03,9600,201,Amit Verma,Delhi
2004,206,2025-02-04,7300,201,Amit Verma,Delhi
2005,207,2025-02-05,11000,201,Amit Verma,Delhi
2001,203,2025-02-01,12000,202,Neha Sharma,Mumbai
2002,204,2025-02-02,8500,202,Neha Sharma,Mumbai
2003,205,2025-02-03,9600,202,Neha Sharma,Mumbai
2004,206,2025-02-04,7300,202,Neha Sharma,Mumbai
2005,207,2025-02-05,11000,202,Neha Sharma,Mumbai
2001,203,2025-02-01,12000,203,Rahul Mehta,Bangalore
2002,204,2025-02-02,8500,203,Rahul Mehta,Bangalore
2003,205,2025-02-03,9600,203,Rahul Mehta,Bangalore
2004,206,2025-02-04,7300,203,Rahul Mehta,Bangalore
2005,207,2025-02-05,11000,203,Rahul Mehta,Bangalore
2001,203,2025-02-01,12000,204,Pooja Singh,Hyderabad
2002,204,2025-02-02,8500,204,Pooja Singh,Hyderabad
2003,205,2025-02-03,9600,204,Pooja Singh,Hyderabad
2004,206,2025-02-04,7300,204,Pooja Singh,Hyderabad
2005,207,2025-02-05,11000,204,Pooja Singh,Hyderabad
2001,203,2025-02-01,12000,205,Karan Malhotra,Chennai
2002,204,2025-02-02,8500,205,Karan Malhotra,Chennai
2003,205,2025-02-03,9600,205,Karan Malhotra,Chennai
2004,206,2025-02-04,7300,205,Karan Malhotra,Chennai
2005,207,2025-02-05,11000,205,Karan Malhotra,Chennai